footer{
    .background{
        min-height: 150px;
        background-color: $color-primary_1;
         .contact_wrapper{
           .text_wrapper{
               width: 100%;
               min-height: 75px;
                .contact{
                    text-align: center;
                    @include text(30px, $color-primary_2, 'Lucida Sans');
                    text-transform: uppercase;
                    @include width1199px{
                        @include text(24px, $color-primary_2, 'Lucida Sans');
                    }
                }
            }
            .contact_img{
                width: 100%;
                min-height: 75px;
                i{
                    color: $color-primary_2;
                    font-size: 50px;
                    @include width1199px{
                       font-size: 40px;
                    }
                    &:hover{
                        color: $color-primary_3;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}