$color-primary_1: #151515;
$color-primary_2: #ffffff;
$color-primary_3: #bf42f4;
$color-primary_4: #8d9314;
$color-primary_5: red;
$red: #b92f2f;
$purple: #a8349f;
$gold: #c88a1d;
$blue: #469ab3;
$brown: #592312;
