<footer>
    <div class="container-fluid background">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="contact_wrapper d-flex flex-column">
                        <div class="text_wrapper d-flex justify-content-center align-items-center">
                            <p class="contact">
                                Follow Us
                            </p>
                        </div>
                        <div class="contact_img d-flex justify-content-around align-items-center">
                            <i class="fab fa-youtube"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-pinterest-square"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>