<div class="main_slider d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-1">
                <div class="btn_wrapper d-flex justify-content-end align-items-center">
                    <i class="fas fa-arrow-circle-left prev_slider"></i>
                </div>
            </div>
            <div class="col-xl-10">
                <div class="img_wrapper d-flex justify-content-center align-items-center">
                    <img src="" alt="img" class="current_slider">
                </div>
            </div>
            <div class="col-xl-1">
                <div class="btn_wrapper d-flex justify-content-start align-items-center">
                    <i class="fas fa-arrow-circle-right next_slider"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<main class="book d-none align-items-center">

   <div class="container-fluid">
       <div class="row">
            <div class="col-12">
                <div class="btn_out_wrapper d-flex justify-content-center">
                <button class="btn btn-warning sign_out">Sign out</button>
                </div>
            </div>
           <div class="col-xl-1">
            <div class="button_table_wrapper d-flex align-items-center justify-content-center">
                <i class="fas fa-arrow-circle-left prev_table"></i>
            </div>
           </div>
            <div class="col-xl-10 d-flex align-items-center">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Height</th>
                            <th scope="col">Mass</th>
                            <th scope="col">Birth year</th>
                            <th scope="col">Skin color</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div class="col-xl-1">
                <div class="button_table_wrapper d-flex align-items-center justify-content-center">
                    <i class="fas fa-arrow-circle-right next_table"></i>
                </div>
            </div>
       </div>
   </div>
</main>
<main class="validation d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="validation_form_wrapper d-flex flex-column align-items-center justify-content-around">
                    <h3>Validation</h3>
                    <input type="text" class="login" placeholder="Login">
                    <input type="password" class="password" placeholder="Password">
                    <button class="btn btn-success btn_get_data">Sign in</button>
                    <p class="error">Incorrect login or password !</p>
                </div>
            </div>
        </div>
    </div>
</main>